body {
    background-color: #F9F9F9;
}

header {
    width: 100%;
    height: 2.5rem;

    padding: .25rem .75rem;

    background-color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left {
    display: flex;
    align-items: center;
    gap: 24px; 
}

header .left img.menu {
    height: 1.5rem;
}

header .left img.youtube-logo {
    height: 1rem;
}

header .center {
    height: 80%;

    display: flex;
    align-items: center;
}

header .center * {
    height: 100%;
}

header .center input {
    width: 21.5rem;

    margin: 0;

    border: 1px solid #CCCCCC;
}

header .center .search-icon {
    border: 1px solid #CCCCCC;
    border-left: none;
    background-color: #F8F8F8;
}

header .center .search-icon img {
    width: 70%;
    border: none;
}

header .right {
    width: 10rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .right img.user-photo {
    max-width: 20%;
    border-radius: 50%;
}
